## Folders

@filen/
arduino-ide/
asm-lsp/
autostart/
balenaEtcher/
bleachbit/
blender/
BraveSoftware/
chromium/
Code - OSS/
dconf/
deemix/
deemix-gui/
diesel_cli/
discord/
Discord/
draw.io/
Electron/
fontforge/
fish/
gedit/
GIMP/
glib-2.0/
go/
gtk-3.0/
hardinfo2/
htop/
hyper/
Hyper/
keepassxc/
latexmk/
libreoffice/
LM Studio/
lxqt/
matplotlib/
menus/
Mousepad/
neofetch/
nvim.bkp/
obs-studio/
obsidian/
openbox/
pavucontrol-qt/
pcmanfm-qt/
procps/
profile/
pulse/
qterminal.org/
rclone/
ristretto/
screengrab/
Session/
Signal/
SpeedCrunch/
spotify/
strawberry/
TabNine/
Thunar/
unity3d/
VirtualBox/
vlc/
wezterm/
wireshark/
xfce4/
xfce4-dict/
yay/

## Files
chromium-flags.conf
kdenlive-layoutsrc
kdenliverc
knfsshare
kwalletrc
lxqt-mimeapps.list
mimeapps.list
pavucontrol.ini
QtProject.conf
screenkey.json
spotify-launcher.conf
user-dirs.dirs
user-dirs.locale
